@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b;
  --primary: #c53030;
  --primary-hover: #9b2c2c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
}

body {
  background: var(--background);
  color: var(--foreground);
}
